{% extends 'erp/layout.html.twig' %}

  {% block contentHeader %}
    <section class="content-header">
    <h1>
        Direction Commerciale
        <small>Liste des Utilisateurs</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-briefcase"></i> Utilisateurs</a></li>
        <li class="active">Lister</li>
    </ol>
    </section>
 {% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                <div class="btn-group">
                    <a href="{{ path('user_create') }}"><button type="button" class="btn btn-block btn-success"><i class="fas fa-users"></i> Créer</button></a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-block btn-info">Imprimer</button>
                </div>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    {{ include('components/flash_messages.html.twig') }}
                </div>
            </div>
           <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="N°: activate to sort column descending" style="width: 169px;">N°</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Image: activate to sort column ascending" style="width: 208px;">Image</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 208px;">Code</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Nom d'Utilisateur: activate to sort column ascending" style="width: 185px;">Nom d'Utilisateur</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 104px;">Email</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending" style="width: 104px;">Téléphone</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Permission: activate to sort column ascending" style="width: 104px;">Permission</th>
                                <th style="width: 5px;">Action</th>
                            </tr>
                            </thead>
                            {% for user in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    {% if user.image %}
                                    <td><a href="#"><img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="..." width="50" class="img-thumbnail"></a></td>
                                    {% else %}
                                        <td><a href="#"><img src="{{ asset('images/no-image-icon.png') }}" width="50" height="50" class="img-fluid" alt="Responsive image"></a></td>
                                    {% endif %}
                                    <td>{{ user.code }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.permission }}</td>
                                    <td>
                                        {#<div class="btn-group">#}
                                            {#<div class="modal modal-danger fade" id="modal-danger" style="display: none;">#}
                                                {#<div class="modal-dialog">#}
                                                    {#<div class="modal-content">#}
                                                        {#<div class="modal-header">#}
                                                            {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                                                {#<span aria-hidden="true">×</span></button>#}
                                                            {#<h4 class="modal-title">  <i class="fa fa-exclamation-triangle"> NB: La suppression est irréversible.</i></h4>#}
                                                        {#</div>#}
                                                        {#<div class="modal-body">#}
                                                            {#<p>Voulez-vous vraiment supprimer {{ users.nom }} ?</p>#}
                                                        {#</div>#}
                                                        {#<div class="modal-footer">#}
                                                            {#<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Annuler</button>#}
                                                            {#<form action="{{ url('supprimer_commerciaux', {'id': users.id}) }}" method="post" data-confirmation="true" id="delete-form">#}
                                                                {#<input type="hidden" name="token" value="{{ csrf_token('delete') }}" />#}
                                                                {#<button type="submit" class="btn btn-outline">Confirmer</button>#}
                                                            {#</form>#}

                                                        {#</div>#}
                                                    {#</div>#}
                                                    {#<!-- /.modal-content -->#}
                                                {#</div>#}
                                                {#<!-- /.modal-dialog -->#}
                                            {#<button type="button" class="btn btn-primary">Action</button>#}
                                            {#<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
                                                {#<span class="caret"></span>#}
                                                {#<span class="sr-only">Toggle Dropdown</span>#}
                                            {#</button>#}
                                            {#<ul class="dropdown-menu" role="menu">#}
                                                {#<li><a href="{{ path('information-commerciaux', {'slug': users.slug}) }}">Voir</a></li>#}
                                                {#<li>#}
                                                        {#<a href="{{ path('user_profile', {'slug': user.slug}) }}" class="btn btn-info">Voir</a>#}
                                        {#<form action="{{ url('user_update', {'slug': user.slug}) }}">#}
                                            {#<button class="btn btn-warning">Modifier</button>#}
                                        {#</form>#}
                                        <a href="{{ url('user_update', {'slug': user.slug}) }}" class="btn btn-warning">Modifier</a>
                                                    {#<a href="#" data-toggle="modal" data-target="#modal-danger">Supprimer</a>#}
                                                {#</li>#}
                                            {#</ul>#}
                                            {#</div>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
        </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
