{% extends 'erp/layout.html.twig' %}

  {% block contentHeader %}
    <section class="content-header">
    <h1>
        Direction Commerciale
        <small>Liste des Commerciaux</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-briefcase"></i> Commerciaux</a></li>
        <li class="active">Liste</li>
    </ol>
    </section>
 {% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                <div class="btn-group">
                    <a href="{{ path('ajouter-commerciaux') }}"><button type="button" class="btn btn-block btn-success"><i class="fas fa-users"></i> Ajouter</button></a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-block btn-info">Imprimer</button>
                </div>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    {{ include('components/flash_messages.html.twig') }}
                </div>
            </div>
           <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="N°: activate to sort column descending" style="width: 5px;">N°</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Image: activate to sort column ascending" style="width: 208px;">Image</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 5px;">Code</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 208px;">Statut</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Nom: activate to sort column ascending" style="width: 185px;">Nom</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Prenom: activate to sort column ascending" style="width: 104px;">Prénom</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Sexe: activate to sort column ascending" style="width: 104px;">Sexe</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending" style="width: 104px;">Téléphone</th>
                                <th style="width: 5px;">Action</th>
                            </tr>
                            </thead>
                            {% for commercial in commercials %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    {% if commercial.image %}
                                    <td><a href="{{ path('information-commerciaux', {'slug': commercial.slug}) }}"><img src="{{ vich_uploader_asset(commercial, 'imageFile') }}" alt="..." width="50" class="img-thumbnail"></a></td>
                                    {% else %}
                                        <td><a href="{{ path('information-commerciaux', {'slug': commercial.slug}) }}"><img src="{{ asset('images/no-image-icon.png') }}" width="50" height="50" class="img-fluid" alt="Responsive image"></a></td>
                                    {% endif %}
                                    <td>{{ commercial.code }}</td>
                                    <td>Statut</td>
                                    <td>{{ commercial.nom }}</td>
                                    <td>{{ commercial.prenom }}</td>
                                    <td>{{ commercial.sexe }}</td>
                                    <td>{{ commercial.telephone }}</td>
                                    <td>
                                        {#<div class="btn-group">#}
                                            {#<div class="modal modal-danger fade" id="modal-danger" style="display: none;">#}
                                                {#<div class="modal-dialog">#}
                                                    {#<div class="modal-content">#}
                                                        {#<div class="modal-header">#}
                                                            {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                                                {#<span aria-hidden="true">×</span></button>#}
                                                            {#<h4 class="modal-title">  <i class="fa fa-exclamation-triangle"> NB: La suppression est irréversible.</i></h4>#}
                                                        {#</div>#}
                                                        {#<div class="modal-body">#}
                                                            {#<p>Voulez-vous vraiment supprimer {{ commercial.nom }} ?</p>#}
                                                        {#</div>#}
                                                        {#<div class="modal-footer">#}
                                                            {#<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Annuler</button>#}
                                                            {#<form action="{{ url('supprimer_commerciaux', {'id': commercial.id}) }}" method="post" data-confirmation="true" id="delete-form">#}
                                                                {#<input type="hidden" name="token" value="{{ csrf_token('delete') }}" />#}
                                                                {#<button type="submit" class="btn btn-outline">Confirmer</button>#}
                                                            {#</form>#}

                                                        {#</div>#}
                                                    {#</div>#}
                                                    {#<!-- /.modal-content -->#}
                                                {#</div>#}
                                                {#<!-- /.modal-dialog -->#}
                                            {#<button type="button" class="btn btn-primary">Action</button>#}
                                            {#<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
                                                {#<span class="caret"></span>#}
                                                {#<span class="sr-only">Toggle Dropdown</span>#}
                                            {#</button>#}
                                            {#<ul class="dropdown-menu" role="menu">#}
                                                {#<li><a href="{{ path('information-commerciaux', {'slug': commercial.slug}) }}">Voir</a></li>#}
                                                {#<li>#}
                                                        <a href="{{ path('information-commerciaux', {'slug': commercial.slug}) }}" class="btn btn-info">Voir</a>
                                                    {#<a href="#" data-toggle="modal" data-target="#modal-danger">Supprimer</a>#}
                                                {#</li>#}
                                            {#</ul>#}
                                            {#</div>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
        </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
    {% block javascripts %}
        <script>
            $(function () {
                $('#example1').DataTable({
                    language: {
                        processing:     "Traitement en cours...",
                        search:         "Rechercher&nbsp;:",
                        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        infoPostFix:    "",
                        loadingRecords: "Chargement en cours...",
                        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        emptyTable:     "Aucune donnée disponible dans le tableau",
                        paginate: {
                            first:      "Premier",
                            previous:   "Pr&eacute;c&eacute;dent",
                            next:       "Suivant",
                            last:       "Dernier"
                        },
                        aria: {
                            sortAscending:  ": activer pour trier la colonne par ordre croissant",
                            sortDescending: ": activer pour trier la colonne par ordre décroissant"
                        }
                    }
                })
            })
        </script>
    {% endblock %}