<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if app.user.image %}
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" class="img-circle" alt="User Image">
                {% else %}
                    <img src="{{ asset('images/no-image-icon.png') }}" class="img-circle" alt="User Image">
                {% endif %}
            </div>
            <div class="pull-left info">
                <p>{{ app.user.name }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Connecté</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Recherche...">
                <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="{{ path('dashborad') }}"><i class="fas fa-chart-line"></i>
                    <span>TABLEAU DE BOARD</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fas fa-briefcase"></i> <span>Direction Commerciale</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
            
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('liste-commerciaux') }}"><i class="fas fa-users"></i> <span>Commerciaux</span></a>
                                    </li>
                                    <li><a href="{{ path('prospecting_sheet_read') }}"><i
                                                    class="fas fa-id-card-alt"></i> <span>Fiches de prospections</span></a>
                                    </li>
                                    <li><a href="{{ path('prospect_read') }}"><i class="fas fa-address-book"></i> <span>Prospects</span></a>
                                    </li>
                                    <li><a href="{{ path('area_read') }}"><i class="fas fa-map-marked-alt"></i> <span>Zones</span></a>
                                    </li>
                                </ul>
                          
            
            </li>
        

            <li class="treeview">
                <a href="#"><i class="fas fa-sliders-h"></i> <span>REGLAGES</span>
                    <span class="pull-right-container"><i
                                class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('status_read') }}"><i class="fas fa-address-card"></i> <span>Statut</span></a></li>
                    <li><a href="{{ path('prospecting_type_read') }}"><i class="fas fa-address-card"></i> <span>Types Prospections</span></a></li>
                    <li><a href="{{ path('type_contract_read') }}"><i
                                    class="fas fa-file-signature"></i>
                            <span>Types Contrats</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fas fa-map-marker-alt"></i> <span>Zones</span>
                            <span class="pull-right-container"><i
                                        class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('city_read') }}"> <i class="fas fa-city"></i> <span>Ville</span></a></li>
                            <li><a href="{{ path('township_read') }}"><i
                                            class="fas fa-city"></i> <span>Communes</span></a>
                            </li>
                            <li><a href="{{ path('ward_read') }}"><i
                                            class="fas fa-warehouse"></i> <span>Quartiers</span></a>
                            </li>
                              <li><a href="{{ path('agency_read') }}"> <i class="fas fa-city"></i> <span>Agence</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>